{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["**/*.yml", "**/*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.svelte",
            "options": {
                "parser": "svelte",
                "svelteAllowShorthand": true
            }
        }
    ],
    "tailwindStylesheet": "./src/routes/layout.css"
}
